<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bootstrap 5 Form</title>

    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jQuery -->

    <style>
        body {
            background-color: #fff;
        }

        form {
            max-width: 500px;
            margin: 0 auto;
            margin-top: 50px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

    </style>
</head>
<body>
    <form id="my-form">
        <div class="mb-3">
            <label class="form-label">Upload or Type:</label>
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="input-type"
                       value="upload"
                       checked />
                <label class="form-check-label">Upload File</label>
            </div>
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="input-type"
                       value="type" />
                <label class="form-check-label">Type in Textarea</label>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">File:</label>
            <input class="form-control"
                   type="file"
                   name="file"
                   id="file"
                    />
        </div>
        <div class="mb-3">
            <label class="form-label">Textarea:</label>
            <textarea id="textarea" class="form-control" name="textarea" rows="5" disabled></textarea>
        </div>
          <div class="mb-3 text-end">
            <button class="btn btn-primary"
                    type="submit"
                    id="submitButton"
                    onclick="submitForm(event)">
                Submit
            </button>
        </div>
       
    </form>

    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color:red">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


    <script>
        function submitForm(event) {
          event.preventDefault();

          const formData = new FormData();

            if (!$('#file').is(":disabled")){
                formData.append("file", $('#file')[0].files[0]);
            }

            if (!$('#textarea').is(":disabled")) {
                formData.append("text", $('#textarea').val());
            }

            $("#submitButton").prop("disabled", true);

            // make AJAX request to server
          $.ajax({
            type: "POST",
            url: "@Url.Action("Check", "Home")",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {

                if(data.policy_break_count == 0){
                    toastr.success("No policy break found.", "Congratulations")
                    return;
                }

                const secretFound = []

                for (let i = 0; i < data.policy_breaks.length; i++) {
                    for (let j = 0; j < data.policy_breaks[i].matches.length; j++) {
                        secretFound.push(data.policy_breaks[i].matches[j].match)
                    }
                }

                let html = ''

                html += `
                    <p>Possible Secret Count: ${data.policy_break_count}</p>
                    <p>Possible Secret:</p>
                `

                for (let i = 0; i < secretFound.length; i++) {
                    html += `
						<p><strong>${secretFound[i]}</strong></p>
					`
				}

                $(".modal-body").html(html)

                const myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
					keyboard: false
				})

                myModal.show()
            },
            error: function (error) {
                toastr.error(error.responseJSON.message, "Error");
            },
            complete: function () {
                $("#submitButton").prop("disabled", false);
            },
        });
    }

    $(document).ready(function () {
        $('input[name="input-type"]').on("change", function () {
            const inputType = $(this).val();
            const fileInput = $('input[name="file"]');
            const textarea = $('textarea[name="textarea"]');

            if (inputType === "upload") {
                fileInput.prop("disabled", false);
                textarea.prop("disabled", true);
            } else if (inputType === "type") {
                fileInput.prop("disabled", true);
                textarea.prop("disabled", false);
            }
        });
    });
</script>

  

</body>
</html>